<div id="wrapper">
    <h1 id="freelance">Open to freelance and open-source projects.<br>
        Please inquire at <a href="mailto:bv.codes@gmail.com">bv.codes@gmail.com</a>
    </h1>
    <div id="socials">
        
        
        <br>
        <a href="https://www.linkedin.com/in/brett-v-853a121a8/" target="_blank">
            <img src="../../assets/LI-In-Bug.png"   height="120" 
                                                    width="141" 
                                                    alt="LinkedIn logo" 
                                                    title="LinkedIn">
        </a>
        <a href="https://github.com/BvCodes" target="_blank">
            <img src="../../assets/GitHub-Mark-Light-120px-plus.png"    height="120" 
                                                                        width="120"
                                                                        alt="Github logo" 
                                                                        title="GitHub">
        </a>
        <a href="https://twitter.com/BvCodes" target="_blank">
            <img src="../../assets/Twitter_Logo_Blue.png"   height="120"
                                                            width="120"
                                                            alt="Twitter logo"
                                                            title="GitHub">
        </a>
    </div>
</div>

