$bg: #2f2c33;

#outer {
    height: 100%;
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#imageDiv {
    max-height: 481px;
    max-width: 350px;
}